@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonSize {
  width: 25px;
  height: 25px;
}

.modal {
  position: fixed;
  @include flex-center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modalContent {
  width: 70%;
}

.buttonClose {
  @include flex-center;
  @include buttonSize;
  top: 5px;
  right: -30px;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;

  svg {
    @include buttonSize;
    transition: 0.3s;

    .path {
      fill: #fff;
      transition: 0.3s;
    }

    &:hover {
      .path {
        opacity: 0.5;
      }
    }
  }
}

.modalOverlay,
.modalContent,
.buttonClose {
  position: absolute;
}
